<!DOCTYPE html>
<html>
    <title>Travel Hunt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/airtools-general.css">
    <link rel="stylesheet" href="css/w3.css">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->

    <link rel="stylesheet" href="css/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.js"></script>
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
    </style>
	
    <body class="w3-theme-l5 intro-cus intro " style="height: calc(100vh);overflow: auto;overflow-x: hidden;" ng-app="travelhunt">
    <div>
    	<div ng-controller=AncillarySelection>
        <div class="w3-top">
            <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                <a style=" background-color: #ffffffcc !important; " class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><img src="images/logo-sunexpress@2x.png" /></a>
                <a style=" margin-left: 23%; line-height: 2.5; " class="w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
            <a href="#" class="w3-bar-item w3-button w3-padding-large">Price summary</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large">Price summary</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large">{{firstLeg.source}}  {{firstLeg.destination}}</a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large">{{secondLeg.source}}  {{secondLeg.destination}}</a>
        </div>

        <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
            <div class="w3-row">
                <div class="w3-col m3">
                    <div class="w3-card w3-round">
                        <div class="w3-white">
                            <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Price summary</button>
                            <div id="Demo1" class="w3-hide w3-container">
                                <div class=" flight-details-overlay" >

                                    <div class="overlay-content">

                                        <div class=" row itinerary-details">
                                            <div class="row fare-summary-rules" >
                                                <div class="one-fourth" style="margin-bottom: 15px;width: 95%;margin-top: 15px;">
                                                    <div class="insert-content">

                                                        <table class="w3-table-all w3-card-4">
                                                            <tr>
                                                                <th><p>Fare Summary</p></th>
                                                                <th><p> ADT x1</p></th>
                                                            </tr>
                                                            <tr>
                                                                <td><p><i class="fa fa-fw fa-wifi"></i> Base Fare</p></td>
                                                                <td class="tr pax_1">{{tripdetails.basefare}} <i class="rs">{{tripdetails.currency}}</i></td>
                                                            </tr>
                                                            <tr>
                                                                <td><p><i class="fa fa-fw fa-wheelchair"></i> Taxes</p></td>
                                                                <td class="tr pax_1">{{tripdetails.taxes == null ? "0" : tripdetails.taxes}} <i class="rs">{{tripdetails.currency}}</i></td>
                                                            </tr>
                                                            <tr class="w3-grey" style="
                                                                color: white !important;
                                                                background-color: #d87b7b!important;
                                                                ">
                                                                <td><p><i class="fa fa-fw fa-cutlery"></i> Total</p></td>
                                                                <td colspan="4" class="tr bold no-border">{{tripdetails.total == null ? tripdetails.basefare : tripdetails.total}} <i class="rs">{{tripdetails.currency}}</i></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div> 
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button onclick="myFunction('Demo2')" ng-click="getTrips()" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> {{firstLeg.source}} - {{firstLeg.destination}} | {{firstLeg.carrier}} - {{firstLeg.flightNumber}}</button>
                            <div id="Demo2" class="w3-hide">
                                <div class="flight-info-container flight-details-overlay" >
                                    <div class="overlay-content">
                                        <div class=" row itinerary-details">
                                            <div >
                                                <ul class="leg-details" style="margin-bottom: 15px;width: 95%;margin-top: 15px;">
                                                    <li class="trip-type">
                                                        <i class="ytfi-clock-1 ">&nbsp;</i>
                                                        <time>
                                                            {{firstLeg.departureTime}}
                                                        </time>
                                                        <span class="pipe">|</span>
                                                        <span > {{firstLeg.travelType}}</span>

                                                        <span class="pipe"> | </span>
                                                        <span>{{firstLeg.destination}}</span>
                                                        <div class="air-journey">
                                                            <span class="fl">&nbsp;</span>
                                                            <i class=""></i>
                                                            <span class="fr">&nbsp;</span>
                                                        </div>
                                                        <h4 class="">
                                                            <span class="ref-ui"> {{firstLeg.cabinType}} &nbsp;</span>
                                                            <span >
                                                                <span class="pipe"> | </span>
                                                                <span class="{{firstLeg.isRefundableClass}}">Refundable</span>
                                                            </span>
                                                        </h4>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button onclick="myFunction('Demo3')" ng-click="getTrips()" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> {{secondLeg.source}} - {{secondLeg.destination}} | {{secondLeg.carrier}} - {{secondLeg.flightNumber}}</button>
                            <div id="Demo3" class="w3-hide w3-container">
                                <div class="hide-my-non-game-div"> 
                                    <div class="flight-info-container flight-details-overlay" >

                                        <div class="overlay-content">

                                            <div class=" row itinerary-details">

                                                <div >
                                                    <ul class="leg-details" style="margin-bottom: 15px;width: 95%;margin-top: 15px;">
                                                        <li class="trip-type">
                                                            <i class="ytfi-clock-1 ">&nbsp;</i>
                                                            <time>
                                                                {{secondLeg.departureTime}}
                                                            </time>
                                                            <span class="pipe">|</span>
                                                            <span > {{secondLeg.travelType}}</span>

                                                            <span class="pipe"> | </span>
                                                            <span>{{secondLeg.destination}}</span>
                                                            <div class="air-journey">
                                                                <span class="fl">&nbsp;</span>
                                                                <i class=""></i>
                                                                <span class="fr">&nbsp;</span>
                                                            </div>
                                                            <h4 class="">
                                                                <span class="ref-ui"> {{secondLeg.cabinType}} &nbsp;</span>
                                                                <span >
                                                                    <span class="pipe"> | </span>
                                                                    <span class="{{secondLeg.isRefundableClass}}">Refundable</span>
                                                                </span>
                                                            </h4>
                                                        </li>
                                                    </ul>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <table class="w3-table-all w3-card-4">
                                        <tr class="w3-green">
                                            <th ng-show="myData.data.stage == '1'"></th>
                                            <th>Ancillary</th>
                                            <th>Actual Price</th>

                                            <th ng-show="myData.data.stage == '1'">Max Discount Price</th>


                                            <th ng-show="myData.data.stage == '2'">Current Discount Price</th>


                                            <th ng-show="myData.data.stage == '3'">Final Discount Price</th>

                                        </tr>
                                        <tr ng-repeat="ancillary in myData.data.userAncillaryDetails">
                                            <td ng-show="myData.data.stage == '1'"><div ><input type="checkbox"></div></td>
                                            <!--td><p><i class="fa fa-fw fa-wifi"></i>{{ancillary[1].ancillaryName}}</p></td-->
                                            <td>{{ancillary.ancillaryName}}</td>
                                            <td>£ {{ancillary.totalAmount}}</td>
                                            <td  ng-show="myData.data.stage == '1'">£ {{ancillary.discountedAmount}}</td>
                                            <td  ng-show="myData.data.stage == '2'">£ {{ancillary.discountedAmount}}</td>
                                            <td  ng-show="myData.data.stage == '3'">£ {{ancillary.discountedAmount}}</td>
                                        </tr>
                                    </table>
                                    <div ng-show="myData.data.stage == '1'">
                                        <hr>
                                        <code class="w3-codespan">
                                            Select any ancillary for your return flight and submit to start the game.
                                            When you are closer to board we book them for you with discount based on the points you earn
                                        </code>
                                        <hr>
                                        <p ><button style="
                                                    margin-top: -10%;
                                                    " class="w3-button w3-green w3-third" ng-click="callStartGame()">Start Game</button></p>
                                        <hr>
                                    </div>

                                </div>
                                <div class="show-my-game-div" style="display: none">

                                    <div  id="apartment"  >
                                        <h5 class="w3-text-green" style=" padding-left: 12%; font-size: 20px; font-weight: 900; font-family: sans-serif; text-decoration: underline; ">Welcome to the game</h5>
                                       
                                        <div class="w3-display-container mySlides  w3-card-4">
                                            <img id="img_1_" class="" src="images/livingroom.jpg" style="width:100%;margin-bottom:-6px">
                                            <div class="w3-display-bottomleft w3-container w3-black">
                                                <p>The Römerberg 15points</p>
                                            </div>
                                        </div>
                                        <div class="w3-display-container mySlides">
                                            <img id="img_2" src="images/diningroom.jpg" style="width:100%;margin-bottom:-6px">
                                            <div class="w3-display-bottomleft w3-container w3-black">
                                                <p>The Museum District 15points</p>
                                            </div>
                                        </div>
                                        <div class="w3-display-container mySlides">
                                            <img id="img_3" src="images/bedroom.jpg" style="width:100%;margin-bottom:-6px">
                                            <div class="w3-display-bottomleft w3-container w3-black">
                                                <p>The Palm Garden 15points</p>
                                            </div>
                                        </div>
                                        <div class="w3-display-container mySlides">
                                            <img id="img_4" src="images/livingroom2.jpg" style="width:100%;margin-bottom:-6px">
                                            <div class="w3-display-bottomleft w3-container w3-black">
                                                <p>Senckenberg  15points</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w3-row-padding w3-section">
                                        <div class="w3-col s3">
                                            <img class="demo w3-opacity w3-hover-opacity-off" src="images/livingroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)" title="Living room">
                                        </div>
                                        <div class="w3-col s3">
                                            <img class="demo w3-opacity w3-hover-opacity-off" src="images/diningroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)" title="Dining room">
                                        </div>
                                        <div class="w3-col s3">
                                            <img class="demo w3-opacity w3-hover-opacity-off" src="images/bedroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)" title="Bedroom">
                                        </div>
                                        <div class="w3-col s3">
                                            <img class="demo w3-opacity w3-hover-opacity-off" src="images/livingroom2.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(4)" title="Second Living Room">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="w3-light-grey w3-round-large show-my-div" style="margin-bottom: 10px;display: none" >
                                        <div class="w3-container w3-blue w3-round-large" id="setProgressValue" style="width:25%">1/5</div>
                                    </div>
                                    <button id="tag_location" class="w3-button w3-purple" ng-click="callUpadateAncillariesGame();" style="display: none;margin-bottom: 20px;">Tag my location</button>
                                    <table class="w3-table-all w3-card-4">
                                        <tr class="w3-green">
                                            <th ng-show="myData.data.stage == '1'"></th>
                                            <th>Ancillary</th>
                                            <th>Actual Price</th>

                                            <th ng-show="myData.data.stage == '1'">Max Discount Price</th>


                                            <th ng-show="myData.data.stage == '2'">Current Discount Price</th>


                                            <th ng-show="myData.data.stage == '3'">Final Price</th>

                                        </tr>
                                        <tr ng-repeat="ancillary in myData.data.userAncillaryDetails">
                                            <td ng-show="myData.data.stage == '1'"><div ><input type="checkbox"></div></td>
                                            <!--td><p><i class="fa fa-fw fa-wifi"></i>{{ancillary[1].ancillaryName}}</p></td-->
                                            <td>{{ancillary.ancillaryName}}</td>
                                            <td>£ {{ancillary.totalAmount}}</td>
                                            <td  ng-show="myData.data.stage == '1'">£ {{ancillary.discountedAmount}}</td>
                                            <td  ng-show="myData.data.stage == '2'">£ {{ancillary.discountedAmount}}</td>
                                            <td  ng-show="myData.data.stage == '3'">£ {{ancillary.discountedAmount}}</td>
                                        </tr>
                                    </table>
                                    <hr>
                                </div>
                            </div>      
                        </div>
                    </div>
                    <br>

                </div>
            </div>
            <div id="id01" class="w3-modal">
                <div class="w3-modal-content" style=" margin-top: 46%; ">
                    <header class="w3-container w3-green" style=" height: 50px; "> 
                        <span onclick="document.getElementById('id01').style.display = 'none'" 
                              class="w3-button w3-display-topright">&times;</span>
                        <h4>Verifying geo location</h4>
                    </header>
                    <div class="w3-container" style="height: 200px;">
                        <div class="hide-my-div" style="padding: 9%;padding-left: 31%;">
                            <p>Verifying the location</p>
                            <p style="padding-left: 10%;"><i class="fa fa-spinner w3-spin" style="font-size:48px;"></i></p>
                            <p>please wait ....</p>
                        </div>
                        <div class="show-my-div" style="display: none;padding: 9%;padding-top: 10px">

                            <div class="w3-panel w3-green w3-round-large" style="height: 117px;width: 268px;">
                                <h3>Success!</h3>
                                <p class="show-my-div-p"></p>
                            </div>
                            <h6 class="w3-text-green"> <i class="fa fa-check-circle"></i>Awesome you earned 15 points!!!</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <footer class="w3-container w3-theme-d3 w3-padding-16 w3-hide">
            <h5>Footer</h5>
        </footer>
        </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous">
        </script>
        <script>
            $(document).ready(function () {
            storeImgIds = [];
            localStorage.setItem('setImageSelection', JSON.stringify(storeImgIds));
            $('.mySlides img').on('click', function () {
            $('.mySlides img').each(function (elem) {
            $(this).removeClass('selected')
            })
                    $(this).addClass('selected');
            var getId = this.id;
            $('#tag_location').show();
            })
            });
        </script>
        <script>
            // Accordion
            function startGame(id) {
//            $('.show-my-game-div').show();
//            $('.hide-my-non-game-div').hide();
            }
            function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == - 1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
            } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
            }
            function startTimer(id) {
            var getSelectedImg = $('.mySlides img.selected').attr('id');
            if (!($.inArray(getSelectedImg, storeImgIds) > - 1)) {
            storeImgIds.push(getSelectedImg);
            localStorage.setItem('setImageSelection', JSON.stringify(storeImgIds));
            $('#id01').show();
            $('.hide-my-div').show();
            $('.show-my-div').hide();
            function showPosition(position) {
            var prepareCoordinates = "Latitude: " + position.coords.latitude +
                    "<br>Longitude: " + position.coords.longitude;
            $('.hide-my-div').fadeOut();
            var getImgsIds = localStorage.getItem('setImageSelection');
            if (getImgsIds && getImgsIds !== 'null') {
            var getArray = JSON.parse(getImgsIds);
            var prepareProgress = getArray.length + '/' + $('.mySlides img').length;
            var arrlen = getArray.length;
            var slideLen = $('.mySlides img').length;
            var calculation = parseFloat(arrlen / slideLen) * 100;
            $('#setProgressValue').css({width: calculation + '%'})
                    $('#setProgressValue').html(prepareProgress);
            }
            $('.show-my-div').fadeIn();
            $('.show-my-div-p').html(prepareCoordinates)
            }
            setTimeout(function () {
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
            } else {
            $('.hide-my-div').fadeOut();
            $('.show-my-div').fadeIn();
            $('.show-my-div').html('Geolocation is not supported by this browser.')
            }
            }, 1000);
            } else {
            alert('Location already completed');
            }
            }

            // Used to toggle the menu on smaller screens when clicking on the menu button
            function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == - 1) {
            x.className += " w3-show";
            } else {
            x.className = x.className.replace(" w3-show", "");
            }
            }

        </script>
        <script>
            // Script to open and close sidebar when on tablets and phones
            function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
            }

            function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
            }

            // Slideshow Apartment Images
            var slideIndex = 1;
            showDivs(slideIndex);
            function plusDivs(n) {
            showDivs(slideIndex += n);
            }

            function currentDiv(n) {
            $('#tag_location').show();
            $('.mySlides img').each(function (elem) {
            $(this).removeClass('selected')
            })
                    $($('.mySlides img:eq(' + n + ')')[0]).addClass('selected');
            showDivs(slideIndex = n);
            }

            function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) {
            slideIndex = 1
            }
            if (n < 1) {
            slideIndex = x.length
            }
            for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-opacity-off";
            }
        </script>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
            panel.style.display = "none";
            } else {
            panel.style.display = "block";
            }
            });
            }
        </script>

        <script type="text/javascript">
            var app = angular.module('travelhunt', []);
            app.controller('AncillarySelection', function($scope, $http) {
            	
           	$scope.getTrips = function() {
           		$http.get("/retrieve/trips").then(function(response){
                    $scope.tripdetails = response.data.retriveRateDetails;
                    $scope.firstLeg = response.data.firstLeg;
                                var f_depDate = new Date($scope.firstLeg.departureTime);
                                $scope.firstLeg.departureTime = f_depDate.getHours() + "h " + f_depDate.getMinutes() + "m";
        						$scope.firstLeg.isRefundableClass = ($scope.firstLeg.isRefundable) ? "ref-ui" : "non-ref-ui";

                    $scope.secondLeg = response.data.secondLeg;
                                var s_depDate = new Date($scope.secondLeg.departureTime);
                                $scope.secondLeg.departureTime = s_depDate.getHours() + "h " + s_depDate.getMinutes() + "m";
                                $scope.secondLeg.isRefundableClass = ($scope.secondLeg.isRefundable) ? "ref-ui" : "non-ref-ui";
                                
                    });
           	}

            angular.element(document).ready(function() {

            $http.get("/retrieve/trips").then(function(response){
            	$scope.getTrips();
            });
            $http.get('/list/ancillaries').then(function(response) {
            	$scope.myData = response;
            });
            $scope.callStartGame = function(){
            var data = {
            ancillaryIds:['Eco Premium Class']
            }
            $http.post("/set/user/ancillaries", JSON.stringify(data)).then(function(response) {
                 $scope.myData = response;
            $('.show-my-game-div').show();
            $('.hide-my-non-game-div').hide();
            });
            }

            $scope.callUpadateAncillariesGame = function(){
                                                  var getSelectedImg = $('.mySlides img.selected').attr('id');
            if (!($.inArray(getSelectedImg, storeImgIds) > - 1)) {
            storeImgIds.push(getSelectedImg);
            localStorage.setItem('setImageSelection', JSON.stringify(storeImgIds));
            $('#id01').show();
            $('.hide-my-div').show();
            $('.show-my-div').hide();
            function showPosition(position) {
            var prepareCoordinates = "Latitude: " + position.coords.latitude +
                    "<br>Longitude: " + position.coords.longitude;
            $('.hide-my-div').fadeOut();
            var getImgsIds = localStorage.getItem('setImageSelection');
            if (getImgsIds && getImgsIds !== 'null') {
            var getArray = JSON.parse(getImgsIds);
            var prepareProgress = getArray.length + '/' + $('.mySlides img').length;
            var arrlen = getArray.length;
            var slideLen = $('.mySlides img').length;
            var calculation = parseFloat(arrlen / slideLen) * 100;
            
            var finalArray=getArray.length;
            var finalImageLengthArray=parseInt($('.mySlides img').length);
             var data = {
                      tasksFinished: finalArray,
                      totalTasks:finalImageLengthArray,
            }
            $http.post("/update/ancillaries", JSON.stringify(data)).then(function(response) {
            $scope.myData = response;
            });
            
            $('#setProgressValue').css({width: calculation + '%'});
                    $('#setProgressValue').html(prepareProgress);
            }
            $('.show-my-div').fadeIn();
            $('.show-my-div-p').html(prepareCoordinates)
            }
            setTimeout(function () {
            if (navigator.geolocation) {
            	navigator.geolocation.getCurrentPosition(showPosition);
            } else {
	            $('.hide-my-div').fadeOut();
	            $('.show-my-div').fadeIn();
	            $('.show-my-div').html('Geolocation is not supported by this browser.')
            }
            }, 1000);
            } else {
            	alert('Location already completed');
            }
            }
            });
            });
        </script>
    </body>
</html> 
